body {
    background-color: #ffffff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 78px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
}

#top-link-blocka.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -52px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the left side of the window */
}
#top-link-blocka.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 138px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
}

.well-sm {
    color: black;
    background-color: #1CBBB4;
    border: none;
}

.glyphicon {
    right: 1px;
    top: 4px;
}

.well-sm:hover {
    color: white;
}


/* sekcja header */
.headerdiv{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}



img.img-responsive-logo {
    max-height: 140px;
    height: 100%;
    margin: 0px auto;
}

div.phonenumber {
    font-weight: bold;
    margin-top: 65px;
    
}

div.phonenumber i a{
    vertical-align: top;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}


.fa-phone a {
    color: #000000;
    margin-left: 1em;
    font-size: 18px;
}

i.fa-phone:before {
    font-size: 1.4em;
}

header{
    margin-top: 20px;
}

.navbar {
    margin: 0 !important;
    z-index: 1000;
}

.navbar-default .navbar-toggle {
	border-color: #FF0069;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #FF0069;
  
}

.navbar-custom {
    background-color:#1CBBB4;
    border: none;
    width: 100%;
    top: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
    padding: 0;
    margin: 0;

}

.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 1.75em;
    text-transform: uppercase;
}

.navbar-custom .navbar-nav > li > a:hover {
    color: #000000
}

ul.dropdown-menu > li > a {
    color: #ffffff;
    font-weight: bold;
    padding: 1.5em 1.7em;
    text-transform: uppercase;
}


ul.dropdown-menu > li > a:hover {
    background: none;
}

.dropdown-menu {
    background-color: #1CBBB4;
    border: none;
}

    #custom-search-form {
        margin:0;
        margin-top: 60px;
        padding: 0;
	
    }

.search-query {
    font-size: 1.6em;
}

    #custom-search-form .search-query {
	padding: 4px 5px 4px 5px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
	border: 2px solid #8e8e8e;
        -webkit-transition: width  0.2s ease-in-out;
	-moz-transition:width  0.2s ease-in-out;
	-o-transition: width  0.2s ease-in-out;
	transition: width  0.2s ease-in-out;
	
    }
    
    @media screen and (min-width: 769px) and (max-width: 992px){
	#custom-search-form .search-query{
	    margin-left: 5%;
	}
	div.container{
	    padding-bottom: 5%;
	}
	div.phonenumber {
	    
	    margin-top: 25px;
	    
	}
	
	
    }
    
    @media screen and (max-width: 768px){
	#custom-search-form .search-query{
	    margin-left: 5%;
	}
	div.container{
	    padding-bottom: 5%;
	}
	div.phonenumber {
	    
	    margin-top: 25px;
	    
	}
        .navbar-default .navbar-nav .open .dropdown-menu>li>a {
            color: #ffffff;
        }

        .navbar-default .navbar-nav>.open>a,
        .navbar-default .navbar-nav>.open>a:focus,
        .navbar-default .navbar-nav>.open>a:hover {
            background-color: #1CBBB4;
            color: #000000;
        }

	
    }

@media screen and (min-width: 993px) and (max-width: 1199px) {

    .span12 {
        width: 220px;
    }

}

@media screen and (min-width: 769px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
        background-color: #1CBBB4;
        color: #000000;
    }
}

.input-append  {
    margin-left: 40px;
}

#custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px 8px 5px;
        margin-top: 2px;
        position: relative;
        left: -41px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
	
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
        width: 240px;
        outline: none;
    }

@media screen and (min-width: 992px) and (max-width: 1512px) {

    #custom-search-form button {
        left: 86px;
        bottom: 36px;
    }
}

@media screen and (max-width: 992px)  {

    header {
        margin-top: 0;
    }

    div.phonenumber {
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 200px) and (max-width: 1200px) {

    i.fa-phone:before {
        font-size: 1.2em;
    }

    div.phonenumber i a {
        font-size: 1em;
    }

     .search-query {
         height: 1.5em;
         width: 210px;
    }

    .search-query:focus {
        height: 1.5em;
        width: 210px;
    }

    img.img-responsive-logo {
       max-width: 100%;
       height: 100%;
    }

}


@media screen and (min-width: 1200px) and (max-width: 1512px) {

    #custom-search-form button {
        left: 104px;
        bottom: 40px;
    }
}

/* poczatek sekcji short _about*/

.carousel{
    display: block;
    margin-top: auto;
    max-height: 640px;
   max-width: 100%;

}
.background_image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 100%;
    height: 640px;
    width: 1800px;
    max-width: 100%;

}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 640px;
    max-height: 100%;
    width: 100%;

}

h2.title-short {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-size: 2.2 em;
    color: white;
    text-align: center;
    padding-right: 480px;
    margin-top: 0;
    margin-bottom: 320px;
    padding-top: 150px;
}

/* koniec sekcji  short_about */


/* CSS do klasy features */

.features {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 4em;
    margin: 2em 0;
    height: 760px;
}

.features_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    max-width: 95%;
    height: 19em;
}

.features h1 {
    color: black;
    text-align: center;
    font-size: 3em;
    padding: 1.5em;
    font-weight: bold;
    margin-left: 0.15em;
}

.features h2 {
    font-size: 2.2em;
    text-align: center;
    position: absolute;
    bottom: 2.4em;
    color: white;
    text-shadow: rgb(199, 197, 197) 2px 1px 10px;
    font-weight: 100;
}

#icon1, #icon2, #icon3, #icon4 {
    font-size: 8em;
    text-align: center;
    color: white;
    display: none;
    text-shadow: rgb(199, 197, 197) 2px 1px 10px;
    font-weight: 100;
    position: absolute;
    bottom: 0.65em;
}

#icon1 {
    left: 0.98em;
}

#icon2 {
    left: 0.85em;
}

#icon3 {
    left: 0.72em;
}

#icon4 {
    left: 0.85em;
}


.features > h1::first-letter {
    font-size: 150%;
    color: #FF0069;
}

.feature_mobile, .feature_wcag, .feature_search, .feature_security {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 18em;
    height: 18em;
    background-color: #217f7b;
    border-radius: 50%;
    box-shadow: 0 0 93px 6px rgba(150, 48, 90,0.7);
    border: 0.5em solid white;
    overflow: hidden;
}

.features_container img {
    width: 17em;
    height: 17em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    filter: opacity(30%);
}

@media screen and (max-width: 1092px) {

    .feature_mobile, .feature_wcag, .feature_search, .feature_security {
        margin: 2%;
    }

    .features {
        padding-top: 0.5em;
        margin: 1em 0;
    }

    .features h1 {
        padding: 0.5em;
        margin: 0;
    }



}

/* Koniec CSS do klasy features */

/* Początek sekcji o zespole*/

div.container {
    display: block;
    padding-bottom: 2%;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    background-color: white;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
}
div.sylwia {
    background:linear-gradient(
            rgba(28, 187, 180, 0.1),
            rgba(28, 187, 180, 0.48));
    box-shadow: 0 1px 1px;
    border-radius: 1px;
    float: left;
    margin-left: 2%;
    margin-right: 1%;
    width:23%;
    height:100%;
    min-height:550px ;
}

div.kajetan {
    background:linear-gradient(
            rgba(28, 187, 180, 0.1),
            rgba(28, 187, 180, 0.48));
    box-shadow: 0 1px 1px;
    border-radius: 1px;
    float: left;
    margin-right: 1%;
    width:23%;
    height:100%;
    min-height:550px;
}
div.natalia {
    background:linear-gradient(
            rgba(28, 187, 180, 0.1),
            rgba(28, 187, 180, 0.48));
    box-shadow: 0 1px 1px;
    border-radius: 1px;
    margin-right: 1%;
    float: left;
    width:23%;
    height:100%;
    min-height:550px;
}
div.olga {
    background:linear-gradient(
            rgba(28, 187, 180, 0.1),
            rgba(28, 187, 180, 0.48));
    box-shadow: 0 1px 1px;
    border-radius: 1px;
    margin-right: 1%;
    float: left;
    width:23%;
    height:100%;
    min-height:550px;
}

div.sylwiabox > h1 {
    font-size: 3em;
    font-style: normal;
    font-weight: bold;
    margin: 30px;
    padding: 3em
}

div.sylwiabox > h1::first-letter {
    font-size: 150%;
    color: #FF0069;
}

div.sylwiabox p {
    margin: 15%  3% 10%;
    font-style: normal;
    font-size: 15px;
    font-weight: inherit;
    text-align: justify;
    padding: 0 8% 0 8%;
}
div.sylwiabox img {
    height: 100%;
    max-height: 209px;
    width: 100%;
    max-width: 208px;
    border-radius: 100px;
    box-shadow: 0 0 93px 5px rgba(150, 48, 90,0.7);
    border: 0.5em solid white;
    margin: 2%;
}
section.about_us h3 {
   font-weight: bold;
    margin: 20px;
}
/* Koniec sekci  o zespole*/

.more_about {
    text-align: center;
    table-layout: auto; width: 100%;
    padding-bottom: 5%;
    font-family: "Helvetica Neue","Helvetica,Arial",sans-serif;
    font-size: 1.5em;
    margin-top: 8%
}

.more_about span {
    font-size: 42px;
    font-style: normal;
    font-weight: bold;
    margin: 30px;
    padding-bottom: 5%;
    display: block;
}


.more_about > span::first-letter {
    font-size: 150%;
    color: #FF0069;
}

.tabela {
    background-color: #91d6d3;
    font-family: "Helvetica Neue","Helvetica,Arial",sans-serif;
    border: 1px solid #91d6d3;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%
}
.tabela td {
    padding-top: 1%;
    padding-bottom: 1%;
}
.light-table {
    background-color: white;
}

.footer {
    background: #FF0069;
    font-family: "Helvetica Neue","Helvetica,Arial",sans-serif;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 0% auto;
}
.footer span{
    font-size: 1.5em;
}
.img-circle {
    border-radius: 50%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.animated-dog {
   float: left;

}

/* CSS do sekcji newsletter */

.newsletter {
    position: relative;
    margin: 0 auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;

}

.newsletter img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.newsletter form {
    text-align: center;
    position: absolute;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 30%;
    bottom: 24vw;
    background-color: rgba(250, 250, 250, 0);
}

.newsletter input {
    height: 2em;
    display: inline-block;
    width: 60%;
}

.newsletter h1 {
    text-align: center;
    color: white;
    font-size: 3em;
}

.newsletter h2 {
    text-align: center;
    color: black;
    font-size: 2.2em;
    opacity: 1;
}

.newsletter input#submit {
    font-size: 2em;
    background-color: black;
    border: 3px solid white;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 0.2em;
    width: auto;
    height: auto;
    outline: none;
}

.newsletter input#email {
    font-size: 2.2em;
    border: 3px solid #91d6d3 ;
}

.newsletter input#email:focus {
    box-shadow: 0 0 15px #FF0069 ;
    border: 3px solid #FF0069 ;
    outline: none;
}

.antibot {
    background-color: rgba(255,255,255, 0.4);
    height: 12em;
    width: 71.2%;
    margin: 0 auto;
    margin-top: 1.5em;
    padding: 0.5em 0;
}

.antibot input[type=text] {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    border: 3px solid white;
    width: 8%;
    outline: none;
    color: white;
    background-color: black;
}

.antibot input#antibot_result {
    font-size: 2.4em;
    border: 3px solid #91d6d3;
    color: black;
    background-color: white;
}

.antibot input#antibot_result:focus {
    box-shadow: 0 0 15px #FF0069 ;
    border: 3px solid #FF0069 ;
    outline: none;
    color: black;
    background-color: white;
}

span {
    font-weight: bold;
    font-size: 2em;
}

@media screen and (max-width: 1092px) {

    .newsletter form {
        bottom: 25vw;
    }

    .antibot {
        width: 80.2%;
    }
}

@media screen and (max-width: 992px) {

    .newsletter form {
        width: 100%;
        padding: 0;
        bottom: 26vw;
    }

    .newsletter input {
        height: 1.6em;
    }

    .newsletter h1 {
        font-size: 2.6em;
    }

    .newsletter h2 {
        font-size: 1.8em;
    }

    .newsletter input#submit {
        font-size: 1.6em;
    }

    .newsletter input#email {
        font-size: 1.8em;
    }

    .antibot input[type=text] {
        font-size: 1.6em;
    }

    .antibot input#antibot_result {
        font-size: 2em;
    }

    span {
        font-weight: bold;
        font-size: 1.6em;
    }
}

@media screen and (max-width: 992px) {

}



@media screen and (max-width: 520px) {

    .newsletter form {
        width: 100%;
        padding: 0 2%;
        bottom: 7vw;
    }

    .newsletter h1 {
        font-size: 2.2em;
    }
}


/* Koniec CSS do sekcji newsletter */