body {
    background-color: #ffffff;
}

img.logo {
    position: absolute;
    left: 50%;
    margin-left: -570px;
    height: 70px;
}

nav.top-menu {
    padding: 5px 0 0 0;
    position: absolute;
    left: 50%;
    margin-left: -370px;
}

nav.top-menu ul {
    list-style: none;
    overflow: hidden;
    margin: auto;
}

nav.top-menu ul li {
    float: left;
    text-decoration: none;
    font-size: 25px;
}

nav.top-menu ul li a {
    padding: 15px 10px 15px 5px;
    display: block;
    width: auto;
    overflow: hidden;
    text-decoration: none;
    color: #B24622;
}

nav.top-menu ul li a:hover {
    background-color: #75C7B5;
    color: #000000;
}
/* sekcja o zaspole */
div.conteiner {
    display: block;
    padding-bottom: 2%;
    width: 100%;
    overflow: hidden;
    background-color: beige;
    border: black hidden 1px;
    font-family: Segoe UI Light, serif;
    text-align: center;

}
div.sylwia {
    background-color: aliceblue;
    box-shadow: 0 1px 1px;
    border-radius: 15px;
    float: left;
    margin-left: 2%;
    margin-right: 1%;
    width:23%;
    height: 50%;
}

div.kajetan {
    background-color: aliceblue;
    box-shadow: 0 1px 1px;
    border-radius: 15px;
    float: left;
    margin-right: 1%;
    width:23%;
    height: 50%;

}
div.natalia {
    background-color: aliceblue;
    box-shadow: 0 1px 1px;
    border-radius: 15px;
    margin-right: 1%;
    float: left;
    width:23%;
    height: 50%;

}

div.olga {
    background-color: aliceblue;
    box-shadow: 0 1px 1px;
    border-radius: 15px;
    margin-right: 1%;
    float: left;
    width:23%;
    height: 50%;

}
div.conteiner > h1 {
    font-size: 36px;
    margin: 30px;
}
div.conteiner p {
    margin: 15%  3% 10%;
}
div.conteiner img {
    height: 100%;
    max-height: 209px;
    width: 100%;
    max-width: 208px;
    border-radius: 100px;
    box-shadow: 0 1px 1px;
    margin: 2%;

}